/*--------------------home-page--------------- */
body
{
  margin:0;
  background-color: black;
}
nav
{
  background-image: url("https://wallpaperplay.com/walls/full/0/4/8/317739.jpg");
  box-shadow:2px 2px 4px grey;
  height:65px;
  font-family: "Gill Sans", sans-serif;
  position:sticky;
  top:0;
  left:0;
  padding:10px;
  display:flex;
}
#website-icon
{
  height:30px;
  width:30px;
  padding-top:10px;
}
#website-icon:hover
{
  transform: scale(1.1);
}
#shop
{
  font-size:30px;
  padding-left:20px;
  padding-top:10px;
}
#shop:hover
{
  transform: scale(1.2);
}
#lane
{
  font-size:30px;
  padding-right:30px;
  padding-top:10px;
}
.topbar2
{
  font-size:15px;
  padding-right:20px;
  padding-top:20px;
}
.topbar2:hover
{
  text-decoration: underline;
}
input
{
  color:deeppink;
  width:400px;
  height:25px;
  background-color: black;
  border:none;
  margin:20px 100px;
  border-radius:12px;
}
input:hover{
  width:500px;
}
#zoom
{
  position:absolute;
  left:580px;
  top:35px;
  color:grey;
}
#logo
{
  position:absolute;
  width:18px;
  height: 18px;
  color:black;
  right:180px;
  top:35px;
}
#logo:hover
{
  transform: scale(1.3);
}
#cart-counting
{
  position: absolute;
  top:28px;
  right:160px;
  width:20px;
  height:20px;
  background-color: green;
  color:white;
  font-size:15px;
  border:none;
  border-radius: 10px;
}
#profile-pic
{
  position: absolute;
  top:20px;
  right:80px;
  width:36px;
  border-radius:17px;
  height:36px;
  padding-right:0px;
  margin:0;
}
#profile-pic:hover
{
  transform: scale(1.1);
}
/* ----------------------next-topbar-------------- */
#topbarnext
{
  padding:15px;
  padding-left:450px;
  color:deeppink;
}
#topbarnext span
{
  padding:0 10px;
}
#topbarnext span:hover
{
  text-decoration: underline;
}
/* ----------------------corosoul------------------- */
#slick-cona
{
  height:500px;
  margin:20px;
}
/* --------------------main-heading-------------*/
.heading
{
  font-family: 'Dancing Script', cursive;
  text-align:center;
  padding:50px;
  padding-bottom:0;
  font-size:50px;
  padding-top: 150px;
  margin-bottom:0;
  color:deeppink;
}
.heading:hover
{
  color:darkviolet;
}
/* ----------items-corosoul------------------- */
#main
{
  box-sizing: border-box;
  padding:10px;
  display:inline-flex;
  width:1300px;
  margin:100px 100px;
  background-image:url("https://cdn2.vectorstock.com/i/1000x1000/30/36/pink-bubble-background-vector-3843036.jpg");
  border-radius:10px;
}
.item-wrapper
{
  box-sizing: border-box;
  padding:10px;
  width:200px;
  height:400px;
}
.item
{
  box-sizing: border-box;
  border:2px solid pink;
  display:inline-block;
  padding:10px;
  background-color:black;
  border-radius: 8px;
  height:380px;
  box-shadow:2px 2px 4px black;
}
.item:hover
{
  transform:scale(1.1);
}
.name
{
  padding:5px;
  padding-bottom:0px;
  width:200px;
  font-size:17px;
  color:deeppink;
  font-family: 'Luckiest Guy', cursive;
}
.brand
{
  padding:0px;
  padding-left:5px;
  width:100px;
  font-size:12px;
  color:palevioletred;
  font-family: 'M PLUS 1p', sans-serif;
}
.price
{
  padding-left:5px;
  padding-top:2px;
  width:70px;
  font-size:12px;
  color:white;
  font-family: 'Lexend Deca', sans-serif;
}
/* -------------------footer------------------- */
footer
{
  background-image: url("https://cdn2.vectorstock.com/i/1000x1000/30/36/pink-bubble-background-vector-3843036.jpg");
  display:flex;
}
.edyoda-logo
{
  margin-right:0;
  margin-left:80px;
  margin-top:100px;
  text-decoration: none;
}
#logo-1
{
  font-family: 'Dancing Script', cursive;
  margin-top:50px;
  color:blue;
  font-weight: 1600;
}
#logo-2
{
  color:grey;
  font-family: 'Livvic', sans-serif;
}
.footer-content
{
  display:inline-block;
  padding:50px;
  padding-left:120px;
  font-size:10px;
  text-decoration: underline;
}
.footer-content:hover
{
  color:blue;
}
.footer-content div
{
  font-family: 'Roboto Condensed', sans-serif;
  padding:7px;
}
/* --------------------detail-page----------------- */
#detail-img
{
  border:2px solid deeppink;
  padding:8px;
  border-radius: 10px;
}
.poses
{
  padding:5px;
}
.poses:hover
{
  transform: scale(1.1);
}
.poses:active
{
  border:1px solid white;
}
#main2
{
  display:inline;
}
.cart-btn
{
  margin: 10px;
  display: block;
  padding:10px;
  background-color: deeppink;
  border:none;
  color:black;
  font-family: 'Permanent Marker', cursive;
  border:2px solid white;
  margin-bottom:0;
  width:150px;
  height:80px;
  font-size:20px;
  border-radius:10px;
}
.cart-btn:hover
{
  background-color: palevioletred;
  border:2px solid deeppink;
}
#gobackbtn
{
  margin-left: 630px;
  margin-bottom:50px;
  padding:10px;
  background-color: deeppink;
  border:none;
  color:black;
  font-family: 'Permanent Marker', cursive;
  border:2px solid white;
}
#description
{
  padding-top:7px;
  color:black;
}
#pdt-desc
{
  margin:100px;
}
#page-2 div
{
  display:flex;
}
.head
{
  color:palevioletred;
  font-family: 'Righteous', cursive;
}
#desc
{
  color:grey;
  font-family: 'Satisfy', cursive;
}
.pdt-name
{
  color:deeppink;
  font-family: 'Asap', sans-serif;
}
.pdt-brand
{
  color:white;
  font-family: 'Comfortaa', cursive;
  font-size:20px;
}
/* ------------------chk-out page---------------- */
.check-out
{
  padding-left:100px;
  color:deeppink;
}
.total-items
{
  padding-left:100px;
  color:deeppink; 
}
#no-of-items
{
  color:white;
}
#no-of-items:hover
{
  color:purple;
  text-decoration: underline;
}
.selected-item
{
  border:2px solid deeppink;
  padding:5px;
  display:flex;
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
}
#total
{
  color:deeppink;
}
#total:hover
{
  color:purple;
  text-decoration: underline;
}
.amount
{
  color:white;
}
.amount:hover
{
  text-decoration: underline;
}
.check-out
{
  font-family: 'Hind Vadodara', sans-serif;
}
.total-items
{
  font-family: 'Handlee', cursive;
  color:white;
}
.total-items:hover
{
  text-decoration: underline;
}
.check-out:hover
{
  color:purple;
}
.selected-item:hover
{
  background-color: blueviolet;
  transform:scaleX(1.1);
}
.selected-item-name
{
  padding:7px;
  margin:0;
  padding-left:30px;
  font-family: 'Lexend Deca', sans-serif;
  text-decoration: underline;
}
#img-desc-wrapper
{
  display:flex;
}
.selected-item
{
  border:1px solid black;
  margin-left:100px;
  margin-bottom: 50px;
  color:black;
  background-color: deeppink;
  width:600px;
  height:100px;
}
.size
{
  margin:0;
  padding-left:30px;
  font-family: 'Cardo', serif;
  font-size:15px;
  color:white;
}
.selected-item-price
{
  padding-left:30px;
  padding-top:10px;
  font-family: 'Cardo', serif;
  font-size:15px;
  color:white;
}
#total-amount
{
  border:2px solid deeppink;
  border-radius:10px;
  width:50%;
  height:300px;
  margin-right:50px;
  margin-bottom:50px;
  margin-left:300px;
  text-align:center;
}
#total
{
  padding-top:50px;
  font-family: 'Lexend Deca', sans-serif;
  font-size:25px;
}
.amount
{
  color:white;
  padding-right:45px;
  font-family: 'Courgette', cursive;
  font-size:20px;
}
#btn
{
  padding:10px;
  background-color: deeppink;
  color:black;
  margin:50px;
  margin-top:0;
  margin-right:68px;
  font-family: 'Satisfy', cursive;
  border:2px solid white;
  width:150px;
  height:80px;
  font-size:25px;
  border-radius:10px;
}
#btn:hover
{
  background-color: palevioletred;
  border:2px solid deeppink;
}
#selected-page
{
  display:flex;
}
section
{
  margin:100px;
}
/* ---------order-confirmation---------- */
#order-placed
{
  color:black;
  font-family: 'Parisienne', cursive;
}
#order-placed:hover
{
  color:dimgray;
}
#email-info
{
  color:green;
  font-family: 'Great Vibes', cursive;
  font-size:18px;
}
#email-info:hover
{
  text-decoration:underline;
}
#main-section
{
  height:500px;
  text-align:center ;
  color:deeppink;
  background-color:white;
}
#order-place-logo
{
  padding-top:30px;
}
#order-place-logo:hover
{
  transform: scale(1.2);
}
#logo-1
{
  background-color:white;
  padding:0;
  margin:0;
}
#logo-2
{
  background-color:white;
  padding:0;
  margin:0;
}
