/*--------------------home-page--------------- */
body
{
  margin:0;
  background-color: black;
}
nav
{
  background-image: url("https://wallpaperplay.com/walls/full/0/4/8/317739.jpg");
  box-shadow:2px 2px 4px grey;
  height:65px;
  font-family: "Gill Sans", sans-serif;
  position:sticky;
  top:0;
  left:0;
  padding:10px;
  display:flex;
}
#website-icon
{
  height:30px;
  width:30px;
  padding-top:10px;
}
#website-icon:hover
{
  transform: scale(1.1);
}
#shop
{
  font-size:30px;
  padding-left:20px;
  padding-top:10px;
}
#shop:hover
{
  transform: scale(1.2);
}
#lane
{
  font-size:30px;
  padding-right:30px;
  padding-top:10px;
}
.topbar2
{
  font-size:15px;
  padding-right:20px;
  padding-top:0px;
  margin-top:20px;
}
.topbar2:hover
{
  text-decoration: none;
  color:black;
}
input
{
  color:deeppink;
  width:400px;
  height:25px;
  background-color: black;
  border:none;
  margin:20px 100px;
  border-radius:12px;
}
input:hover{
  width:500px;
}
#zoom
{
  position:absolute;
  left:580px;
  top:35px;
  color:grey;
}
#logo
{
  position:absolute;
  width:18px;
  height: 18px;
  color:black;
  right:180px;
  top:35px;
}
#logo:hover
{
  transform: scale(1.3);
}
#cart-counting
{
  position: absolute;
  top:28px;
  right:160px;
  width:20px;
  height:20px;
  background-color: green;
  color:white;
  font-size:15px;
  border:none;
  border-radius: 10px;
}
#profile-pic
{
  position: absolute;
  top:20px;
  right:80px;
  width:36px;
  border-radius:17px;
  height:36px;
  padding-right:0px;
  margin:0;
}
#profile-pic:hover
{
  transform: scale(1.1);
}
/* ----------------------next-topbar-------------- */
#topbarnext
{
  padding:15px;
  padding-left:450px;
  color:deeppink;
}
#topbarnext span
{
  padding:0 10px;
}
#topbarnext span:hover
{
  text-decoration: underline;
}
/* ----------------------corosoul------------------- */
#slick-cona
{
  height:500px;
  margin:20px;
}
/* --------------------main-heading-------------*/
.heading
{
  font-family: 'Dancing Script', cursive;
  font-size:50px;
  margin-bottom:10px;
  color:deeppink;
  display:block;
  padding:20px;
  padding-top:100px;
}
.heading:hover
{
  color:darkviolet;
}
/* ----------items-corosoul------------------- */
#main
{
  box-sizing: border-box;
  padding:0px;
  display:inline-flex;
  width:1340px;
  height:20px;
  margin:100px 100px;
  background-image:url("https://cdn2.vectorstock.com/i/1000x1000/30/36/pink-bubble-background-vector-3843036.jpg");
  border-radius:10px;
}
#clothing
{
  padding-left:100px;
}
#accessories
{
  padding-left:100px;
}
.item-wrapper
{
  box-sizing: border-box;
  padding:10px;
  padding-top:50px;
  margin-right:0px;
  display:inline-flex;
}
.item
{
  box-sizing: border-box;
  border:2px solid pink;
  display:inline-block;
  padding:10px;
  background-color:black;
  border-radius: 8px;
  height:380px;
  width:250px;
  box-shadow:3px 3px 6px grey;
}
.item:hover
{
  transform:scale(1.1);
}
.item-img
{
  padding-left:35px;
}
.name
{
  padding:0px;
  padding-bottom:0px;
  width:230px;
  font-size:17px;
  color:deeppink;
  font-family: 'Luckiest Guy', cursive;
  text-align:center;
}
.brand
{
  font-size:12px;
  color:palevioletred;
  font-family: 'M PLUS 1p', sans-serif;
  text-align:center;
}
.price
{
  padding-left:5px;
  padding-top:2px;
  text-align:center;
  font-size:12px;
  color:white;
  font-family: 'Lexend Deca', sans-serif;
}
/* -------------------footer------------------- */
footer
{
  background-image: url("https://cdn2.vectorstock.com/i/1000x1000/30/36/pink-bubble-background-vector-3843036.jpg");
  display:flex;
}
.edyoda-logo
{
  margin-right:0;
  margin-left:80px;
  margin-top:100px;
  text-decoration: none;
  position:sticky;
  bottom:0;
  right:0;
}
#logo-1
{
  font-family: 'Dancing Script', cursive;
  margin-top:50px;
  color:blue;
  font-weight: 1600;
}
#logo-2
{
  color:grey;
  font-family: 'Livvic', sans-serif;
}
.footer-content
{
  display:inline-block;
  padding:50px;
  padding-left:120px;
  font-size:10px;
  text-decoration: underline;
}
.footer-content:hover
{
  color:blue;
}
.footer-content div
{
  font-family: 'Roboto Condensed', sans-serif;
  padding:7px;
}
/* --------------------detail-page----------------- */
#detail-img
{
  border:2px solid deeppink;
  padding:8px;
  border-radius: 10px;
  height:470px;
  width:350px;
}
.poses
{
  padding:7px; 
  margin-bottom:20px;
}
.poses:hover
{
  transform: scale(1.1);
}
.active-image
{
  border:2px solid deeppink;
  border-radius:10px;
}
#main2
{
  display:inline;
}
.cart-btn
{
  margin: 10px;
  display: block;
  padding:10px;
  background-color: deeppink;
  border:none;
  color:black;
  font-family: 'Permanent Marker', cursive;
  border:2px solid white;
  margin-bottom:0;
  width:150px;
  height:80px;
  font-size:20px;
  border-radius:10px;
}
.cart-btn:hover
{
  background-color: palevioletred;
  border:2px solid deeppink;
}
#gobackbtn
{
  margin-left: 630px;
  margin-bottom:50px;
  padding:10px;
  background-color: deeppink;
  border:none;
  color:black;
  font-family: 'Permanent Marker', cursive;
  border:2px solid white;
}
#description
{
  padding-top:7px;
  color:black;
}
#pdt-desc
{
  margin:100px;
}
#page-2 div
{
  display:flex;
}
.head
{
  color:palevioletred;
  font-family: 'Righteous', cursive;
}
#desc
{
  color:grey;
  font-family: 'Satisfy', cursive;
}
.pdt-name
{
  color:deeppink;
  font-family: 'Asap', sans-serif;
}
.pdt-brand
{
  color:white;
  font-family: 'Comfortaa', cursive;
  font-size:20px;
}
/* ------------------chk-out page---------------- */
.check-out
{
  padding-left:100px;
  color:deeppink;
}
.total-items
{
  padding-left:100px;
  color:deeppink; 
}
#no-of-items
{
  color:white;
}
#no-of-items:hover
{
  color:purple;
  text-decoration: underline;
}
.selected-item
{
  border:2px solid deeppink;
  padding:5px;
  display:flex;
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
}
#total
{
  color:deeppink;
}
#total:hover
{
  color:purple;
  text-decoration: underline;
}
.amount
{
  color:white;
}
.amount:hover
{
  text-decoration: underline;
}
.check-out
{
  font-family: 'Hind Vadodara', sans-serif;
}
.total-items
{
  font-family: 'Handlee', cursive;
  color:white;
}
.total-items:hover
{
  text-decoration: underline;
}
.check-out:hover
{
  color:purple;
}
.selected-item:hover
{
  background-color: blueviolet;
  transform:scaleX(1.1);
}
.selected-item-name
{
  padding:7px;
  margin:0;
  padding-left:30px;
  font-family: 'Lexend Deca', sans-serif;
  text-decoration: underline;
}
#img-desc-wrapper
{
  display:flex;
}
.selected-item
{
  border:1px solid black;
  margin-left:100px;
  margin-bottom: 50px;
  color:black;
  background-color: deeppink;
  width:600px;
  height:100px;
}
.size
{
  margin:0;
  padding-left:30px;
  font-family: 'Cardo', serif;
  font-size:15px;
  color:white;
}
.selected-item-price
{
  padding-left:30px;
  padding-top:10px;
  font-family: 'Cardo', serif;
  font-size:15px;
  color:white;
}
#total-amount
{
  border:2px solid deeppink;
  border-radius:10px;
  width:30%;
  height:300px;
  text-align:center;
  margin:50px;
  margin-top:0;
  margin-left:200px;
}
#total
{
  padding-top:50px;
  font-family: 'Lexend Deca', sans-serif;
  font-size:25px;
}
.amount
{
  color:white;
  text-align:center;
  font-family: 'Courgette', cursive;
  font-size:20px;
}
#btn
{
  padding:10px;
  background-color: deeppink;
  color:black;
  margin:50px;
  margin-top:0;
  margin-right:68px;
  font-family: 'Satisfy', cursive;
  border:2px solid white;
  width:150px;
  height:80px;
  font-size:25px;
  border-radius:10px;
}
#btn:hover
{
  background-color: palevioletred;
  border:2px solid deeppink;
}
#selected-page
{
  display:block;
}
section
{
  margin:100px;
}
/* ---------order-confirmation---------- */
#order-placed
{
  color:black;
  font-family: 'Parisienne', cursive;
}
#order-placed:hover
{
  color:dimgray;
}
#email-info
{
  color:green;
  font-family: 'Great Vibes', cursive;
  font-size:18px;
}
#email-info:hover
{
  text-decoration:underline;
}
#main-section
{
  height:500px;
  text-align:center ;
  color:deeppink;
  background-color:white;
}
#order-place-logo
{
  padding-top:30px;
}
#order-place-logo:hover
{
  transform: scale(1.2);
}
#logo-1
{
  background-color:white;
  padding:0;
  margin:0;
}
#logo-2
{
  background-color:white;
  padding:0;
  margin:0;
}

@media screen and (max-width: 900px)
{
  /* --topbar-- */
   nav
   {
     height:30px;
     margin:0;
   }
   #website-icon
   {
     width:10px;
     height:10px;
   }
   #shop
   {
     font-size:10px;
     padding-left:5px;
   }
   #lane
   {
    font-size:10px;
    padding-right:10px;
   }
   .topbar2
   {
     font-size:8px;
     padding-left:0px;
     padding-top:0px;
     padding-right:3px;
     margin-right:0;
     margin-top:12px;
   }
   #zoom
   {
     font-size:8px;
     top:22px;
     left:220px;
   }
   input
   {
     width:80px;
     height:13px;
     padding-left:5px;
     font-size:8px;
     margin-top:10px;
     margin-left:10px;
     margin-right:0;
   }
   input:hover
   {
     width:80px;
   }
   #logo
   {
     font-size:10px;
     margin-left:0px;
     margin:0;
     top:22px;
     right:35px;
     padding-left:0px;
   }
   #cart-counting
   {
    font-size:8px;
    padding:0px;
    margin:0;
    top:12px;
    right:28px;
    width:15px;
    height:15px;
    border-radius:14px;
   }
   #profile-pic
   {
     width:15px;
     height:15px;
     margin:0;
     padding:0;
     right:10px;
   }
   /* --next-tob-bar---- */
   #topbarnext
   {
    font-size:8px;
    padding:20px 10px;
   }
   /* --slick-- */
   #slick-cona
   {
     height:150px;
     margin:20px;
     margin-top:0px;
     margin-bottom:0px;
   }
   #clothing
   {
     padding-left:50px;
   }
   #accessories
   {
    padding-left:50px;
   }
   .heading
   {
     padding-top:50px;
     padding-bottom:0;
     font-size:40px;
     padding-left:0;
     margin-left:0;
     width:250px;
   }
   #main
   {
    display:none;
   }
   .item-wrapper
  {
    padding:100px;
    padding-top:50px;
    padding-bottom:0;
    padding-left:20px;
    display:block;
    text-align: center;
  }
   .item
   {
     width:220px;
     height:285px;
   }
   .item-img
   {
     height:140px;
     width:110px;
     padding-left:0;
   }
   .name
   {
    font-size:14px;
    width:180px;
    text-align: center;
   }
   .brand
   {
    font-size:10px;
   }
   .price
   {
     font-size:10px;
   }
   .footer-content
   {
     font-size:10px;
     padding-left:50px;
     padding-right:0;
     padding-bottom:20px;
     padding-top:10px;
     margin:0;
   }
   #lol1
   {
     display:none;
   }
   #lol2
   {
     display:none;
   }
   footer
   {
     margin:0;
     padding:0;
     margin-top:20px;
   }
   .edyoda-logo
   {
     display:none;
   }
   /* detail-page----------------- */
   #page-2 div
   {
      display:block;
   }
   #main2
   {
     display:block;
   }
   section
   {
     margin:50px;
   }
   #detail-img
   {
     width:250px;
     height:350px;
   }
   #pdt-desc
   {
     margin:50px;
     justify-content: right;
   }
   /* chk-out-page---------------- */
     .check-out
     {
       padding-left:30px;
     }
     .total-items
     {
       padding-left:30px;
     }
     .selected-item
     {
      margin-left:30px;
      width:290px;
      height:100px;
     }
     .item-image
     {
       width:80px;
     }
     .selected-item:hover
     {
       color:blueviolet;
       width:280px;
     }
     #img-desc-wrapper
     {
       display:block;
     }
     #total-amount
     {
       margin-left:30px;
       width:280px;
     }
     .amount
     {
       font-size: 15px;
       padding-left:0px;
     }
     /* order-confirmation---- */
     #order-place-logo
    {
      width:200px;
      height:180px;
    }
    #email-info
    {
      padding-bottom:0px;
      margin-bottom:0;
      padding-left:50px;
      padding-right:0px;
      width:250px;
    }
}
